<!DOCTYPE html>
<html>
  <head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" type="text/css" href="nav.component.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <div class="container">
        <a class="navbar-brand">Logo</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="profile">Profile</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
